.Hero{
    background-color: #112535;
    width: 100%;
    height: auto;
}

.ViewDetailsBtn{
    background-color: #fcc200;
    width: 200px;
    border: none;
    padding: 15px;
    margin: 55px 0px;
    border-radius: 30px;
    color: #fff;
    z-index: 2;
}